// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$black: #000000;
$white: #ffffff;
$grey-1: #707070;
$grey-2: #e5e5e5;

// Body
$body-bg: $white;

// Sizes
$os-header-height: 4rem;
$os-horizontal-paading: 2rem;
