// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.8rem;
$line-height-base: 1.6;

// Colors
$black: #292929;
$white: #ffffff;
$main-theme: #f3c66d;
$sub-theme: #f2bf54;
$light-theme: #f9dea3;

$grey-1: #6f6f6f;
$grey-2: #b6b6b6;
$grey-3: #f5f5f5;

$grey-opacity: #ffffff20;

// Body
$body-bg: $white;

// Sizes
$os-horizontal-paading: 2rem;
$os-header-height: 4rem;
$os-header-profile-image-size: 3rem;
$os-main-view-left-width: 20rem;
$os-image-editor-height: 15rem;
