// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Material Icons
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import 'material';

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Custom
@import 'custom';

// Styles
@import 'app-container';

// Begin Screen
@import 'os-begin-container/os-begin-container';
@import 'os-begin-container/login-form';
@import 'os-begin-container/signup-form';

// Home Screen
@import 'screen/home-screen';

// Components
@import 'components/space-list';
@import 'components/space-search';
@import 'components/general-info';
@import 'components/images-editor';
@import 'components/space-description';
@import 'components/amenity-tags';
@import 'components/location-map';

@import 'components/os-edit-button';
@import 'components/os-rate-display';

@import 'components/operating-hour-edit-modal';
@import 'components/amenities-edit-modal';
@import 'components/image-upload-modal';

// needs update
// @import 'components/os-space-tree';
@import 'components/os-space-history';
@import 'components/os-page-status';
// @import 'components/os-busy-level-selector';
// @import 'components/os-comments-viewer';
