// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Material Icons
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import 'material';

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Custom
@import 'custom';

// Styles
@import 'app-container';

@import 'os-begin-container/os-begin-container';
@import 'os-begin-container/login-form';
@import 'os-begin-container/signup-form';

@import 'os-home-container/os-home-container';
@import 'os-home-container/home-header';
@import 'os-home-container/home-main-view';

@import 'components/os-space-tree';
@import 'components/os-page-status';
// @import 'components/os-busy-level-selector';
@import 'components/os-rate-display';
@import 'components/os-images-editor';
// @import 'components/os-comments-viewer';
@import 'components/os-amenity-tags';
@import 'components/os-location-map';
@import 'components/os-general-info';
@import 'components/operating-hour-edit-modal';
@import 'components/amenities-edit-modal';
@import 'components/image-upload-modal';
// @import 'components/location-edit-modal';
@import 'components/os-space-introduce';
