// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Styles
@import 'general';

@import 'os-home-container/os-home-container';
@import 'os-home-container/home-header';
@import 'os-home-container/home-spaces-tab';
@import 'os-home-container/home-main-view';

@import 'components/os-seat-controller';
@import 'components/os-rate-display';
