.os-text-ellipsis {
    max-width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.os-white {
    color: $white;
}

.os-grey-1 {
    color: $grey-1;
}

p {
    // margin
    margin-bottom: 0;
}

button {
    // background
    background-color: transparent;

    // padding
    padding: 0;

    // border
    border: 0;
}
