#amenities-edit-modal {
    #amenity-table {
        // size
        width: 100%;

        & > tbody {
            // size
            width: 100%;

            & > tr {
                & > td {
                    // size
                    width: 25%;

                    // padding
                    padding: 0.5rem;

                    & > .amenity {
                        // size
                        width: 100%;

                        // flex
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        // padding
                        padding: 0.5rem;

                        // border
                        border-radius: 0.7rem;
                        border: 2px solid $main-theme;

                        &.selected {
                            // backgound
                            background-color: $main-theme;

                            & > p {
                                // content color
                                color: $white;
                            }
                        }

                        & > p {
                            // content color
                            color: $main-theme;

                            &:last-child {
                                // margin
                                margin-top: 0.3rem;
                            }
                        }
                    }
                }
            }
        }
    }
}
