#general-info {
    & > #space-name-row {
        // flex
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;

        & > #space-name {
            // flex
            display: flex;
            flex-direction: row;
            align-items: flex-end;

            & > #type {
                // text color
                color: $grey-1;

                // margin
                margin-left: 0.5rem;
                margin-right: 1rem;
            }
        }
    }

    & > #operating-hours-row {
        // flex
        display: flex;
        flex-direction: row;
        align-items: flex-start;

        // margin
        margin-top: 1rem;

        & > #operating-hours {
            // flex
            display: flex;
            flex-direction: row;
            align-items: flex-start;

            // margin
            margin-right: 1rem;

            p {
                // text color
                color: $grey-1;
            }

            & > #icon {
                // margin
                margin-right: 0.5rem;
            }

            & > #value {
                // flex
                display: flex;
                flex-direction: column;
            }
        }
    }
}
