#images-editor {
    // size
    width: 100%;
    height: 100%;

    // flex
    display: flex;
    flex-direction: column;

    #header {
        // flex
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    #body {
        // size
        flex: 1;

        // flex
        display: flex;
        flex-direction: column;

        // margin
        margin-top: 1rem;
        margin-bottom: 1rem;

        // make scroll
        max-height: 100%;
        overflow: scroll;

        & > #empty {
            // size
            flex: 1;

            // flex
            display: flex;
            justify-content: center;
            align-items: center;

            & > p {
                // text color
                color: $grey-1;
            }
        }

        & > img {
            // size
            width: 100%;

            &:not(:first-child) {
                // margin
                margin-top: 1rem;
            }
        }
    }

    #footer {
        & > p {
            // text align
            text-align: end;

            // text color
            color: $grey-1;
        }
    }
}
