#images-editor {
    // size
    width: 100%;
    height: 100%;

    // flex
    display: flex;
    flex-direction: column;

    #header {
        // flex
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        & > #title {
            // flex
            display: flex;
            flex-direction: row;
            align-items: flex-start;

            & > span {
                // margin
                margin-left: 0.5rem;
            }
        }
    }

    #body {
        // size
        flex: 1;

        // flex
        display: flex;
        flex-direction: column;

        // margin
        margin-top: 1rem;
        margin-bottom: 1rem;

        // make scroll
        max-height: 100%;
        overflow: scroll;

        & > #empty {
            // size
            flex: 1;

            // flex
            display: flex;
            justify-content: center;
            align-items: center;

            & > p {
                // text color
                color: $grey-1;
            }
        }

        & > .img-item {
            // flex
            display: flex;
            flex-direction: 'row';
            align-items: center;

            // padding
            padding-left: 1rem;
            padding-right: 1rem;

            &:not(:first-child) {
                // margin
                margin-top: 1rem;
            }

            & > img {
                // size
                width: 50%;
                height: 8rem;
            }

            & > p {
                // margin
                margin-left: 1rem;
            }
        }
    }

    #footer {
        & > p {
            // text align
            text-align: end;

            // text color
            color: $grey-1;
        }
    }
}
