#location-edit-modal {
    & > .modal-dialog {
        // size
        height: 90%;
        width: 80%;
        max-width: none;

        & > .modal-content {
            // size
            height: 100%;

            & > .modal-body {
                & > #location-search-map {
                    // size
                    height: 100%;
                }
            }
        }
    }
}
