#location-map {
    #address-text {
        // text color
        color: $grey-1;

        // margin
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }

    #map {
        // size
        height: 20rem;
    }

    #no-info {
        // padding
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .modal-body {
        & > .form-control {
            // margin
            margin-top: 1rem;
        }

        & > #latlng-form {
            // flex
            display: flex;
            flex-direction: row;

            // margin
            margin-top: 1rem;

            & > .input-group {
                // size
                flex: 1;

                &:last-child {
                    // margin
                    margin-left: 1rem;
                }
            }
        }
    }
}
