#new-space-button {
    & > #space-name-row {
        // flex
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;

        & > #space-name {
            // flex
            display: flex;
            flex-direction: row;
            align-items: center;

            & > #type {
                // text color
                color: $grey-1;

                // margin
                margin-left: 0.5rem;
                margin-right: 1rem;
            }
        }
    }

    .modal-body {
        & > .input-row {
            // margin
            margin-top: 0.5rem;
        }

        & > p {
            &:not(:first-child) {
                // margin
                margin-top: 1rem;
            }
        }

        & > #latlng-form {
            // flex
            display: flex;
            flex-direction: row;

            & > .input-group {
                // size
                flex: 1;

                &:last-child {
                    // margin
                    margin-left: 1rem;
                }
            }
        }
    }
}
