#os-amenity-tags {
    & > #amenities {
        // flex
        display: flex;

        // scrollable
        max-width: 100%;
        overflow: scroll;

        // padding
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;

        // border
        border: 0.5px solid $grey-2;
        border-radius: 0.5rem;

        & > .amenity {
            // flex
            display: flex;
            flex-direction: column;
            align-items: center;

            // padding
            padding-top: 0.4rem;
            padding-bottom: 0.4rem;

            // margin
            margin-left: 1.5rem;

            &:last-child {
                // padding
                padding-right: 1.5rem;
            }

            & > p {
                // margin
                margin-bottom: 0;
            }
        }
    }
}
