#os-amenity-tags {
    & > #amenities {
        // flex
        display: flex;

        // scrollable
        max-width: 100%;
        overflow: scroll;

        // padding
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        padding-left: 1rem;
        padding-right: 1rem;

        // border
        border: 0.5px solid $grey-2;
        border-radius: 0.5rem;

        & > .amenity {
            // flex
            display: flex;
            flex-direction: column;
            align-items: center;

            &:not(:first-child) {
                // margin
                margin-left: 1.5rem;
            }

            & > i {
                font-size: 2.5rem;
            }

            & > p {
                // margin
                margin-bottom: 0;
            }
        }
    }
}
