#os-busy-level-selector {
    // size
    width: 100%;

    // flex
    display: flex;
    flex-direction: column;
    align-items: center;

    & > p {
        // font-color
        color: $main-theme;
    }

    & > #buttons {
        // size
        width: 100%;

        // flex
        display: flex;

        // margin
        margin-top: 0.5rem;

        // border
        border: 1px solid $main-theme;

        & > button {
            // size
            flex: 1;

            // background
            background-color: transparent;

            // border
            border: 0;

            // padding
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            padding-left: 1rem;
            padding-right: 1rem;
        }

        & > button.selected {
            // background
            background-color: $main-theme;

            & > p {
                // font-color
                color: $white;
            }
        }
    }
}
