#os-general-info {
    // flex
    display: flex;
    align-items: center;

    & > * {
        // size
        width: 100%;
    }

    & > img {
        // size
        height: 8rem;
        width: 8rem;
    }

    & > #general-info {
        // size
        flex: 1;

        // flex
        display: flex;
        flex-direction: column;
        align-items: stretch;

        // padding
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;

        // margin
        margin-left: 1rem;

        & > #title-row {
            // flex
            display: flex;
            align-items: flex-end;

            // margin
            margin-bottom: 0.5rem;

            & > #txt-types {
                // margin
                margin-left: 1rem;
            }
        }

        & > .info-row {
            // flex
            display: flex;

            & > p:first-child {
                flex: 1;
            }
        }
    }
}
