#os-general-info {
    // flex
    display: flex;
    align-items: flex-start;

    & > * {
        // size
        width: 100%;
    }

    & > img {
        // size
        height: 8rem;
        width: 8rem;
    }

    & > #general-info {
        // size
        flex: 1;

        // flex
        display: flex;
        flex-direction: column;
        align-items: stretch;

        // margin
        margin-left: 1rem;
        margin-top: 0.5rem;

        & > #title-row {
            // flex
            display: flex;
            align-items: flex-end;

            // margin
            margin-bottom: 1rem;

            & > #txt-types {
                // margin
                margin-left: 1rem;
            }
        }

        & > .info-row {
            // flex
            display: flex;
            align-items: flex-start;

            // margin
            margin-bottom: 0.5rem;

            & > :first-child {
                // margin
                margin-right: 0.3rem;
            }

            & > .text {
                // size
                flex: 1;

                // flex
                display: flex;
                flex-direction: column;
                align-items: stretch;
            }
        }
    }
}
