#os-images-editor {
    // size
    width: 100%;

    // flex
    display: flex;
    flex-direction: column;
    align-items: stretch;

    p {
        // margin
        margin: 0;
    }

    & > #header {
        // flex
        display: flex;
        justify-content: flex-end;
    }

    & > #body {
        // size
        height: $os-image-editor-height;

        // flex
        display: flex;

        // scrollable
        max-width: 100%;
        overflow: scroll;

        // margin
        margin-top: 1rem;
        margin-bottom: 1rem;

        & > img {
            height: 100%;

            &:not(:first-child) {
                // margin
                margin-left: 1rem;
            }
        }
    }

    & > #footer {
        // flex
        display: flex;
        justify-content: flex-end;
    }
}
