#os-images-editor {
    // size
    width: 100%;

    // flex
    display: flex;
    flex-direction: column;
    align-items: stretch;

    & > .body {
        // size
        height: $os-image-editor-height;

        // flex
        display: flex;

        // scrollable
        max-width: 100%;
        overflow: scroll;

        & > #empty {
            // size
            width: 100%;
            height: 100%;

            // flex
            display: flex;
            justify-content: center;
            align-items: center;

            // border
            border-radius: 0.5rem;

            // background
            background-color: $grey-3;

            // padding
            padding: 1rem;

            // text color
            color: $grey-1;
        }

        & > img {
            height: 100%;

            &:not(:first-child) {
                // margin
                margin-left: 1rem;
            }
        }
    }
}
