#os-images-editor {
    // size
    width: 100%;

    // flex
    display: flex;
    flex-direction: column;
    align-items: stretch;

    & > .body {
        // size
        height: $os-image-editor-height;

        // flex
        display: flex;

        // scrollable
        max-width: 100%;
        overflow: scroll;

        & > img {
            height: 100%;

            &:not(:first-child) {
                // margin
                margin-left: 1rem;
            }
        }
    }
}
