#os-rank-display {
    // flex
    display: flex;
    flex-direction: column;
    align-items: center;

    // color
    color: $main-theme;

    & > #stars {
        // flex
        display: flex;

        & > .star {
            // position
            position: relative;

            // star size
            font-size: 2.5rem;

            &:not(:first-child) {
                // margin
                margin-left: 0.5rem;
            }

            & > .fill {
                // make overlay
                position: absolute;
                top: 0;
                left: 0;

                // make cut
                overflow: hidden;
            }
        }
    }
}
