#os-rate-display {
    // flex
    display: flex;

    & > img {
        // size
        height: 2.5rem;
        width: 2.5rem;

        &:not(:first-child) {
            margin-left: 0.5rem;
        }
    }
}
