#os-rate-display {
    // flex
    display: flex;
    flex-direction: row;
    align-items: center;

    // color
    color: $main-theme;

    & > #rate {
        // font size
        font-size: 1rem;

        // margin
        margin-right: 0.5rem;
        margin-bottom: 0;
    }

    & > #stars {
        // flex
        display: flex;
        flex-direction: row;

        & > .star {
            // position
            position: relative;

            // star size
            font-size: 1rem;

            &:not(:first-child) {
                // margin
                margin-left: 0.3rem;
            }

            & > .fill {
                // make overlay
                position: absolute;
                top: 0;
                left: 0;

                // make cut
                overflow: hidden;
            }
        }
    }
}
