#os-seat-controller {
    // flex
    display: flex;
    align-items: center;

    #controller {
        // border
        border: 1px solid grey;
        border-radius: 1rem;

        // margin
        margin-left: 1rem;

        #current-seats {
            // flex
            display: flex;
            justify-content: center;
            align-items: center;

            // padding
            padding-top: 0.3rem;

            //border
            border-bottom: 1px solid $grey-1;
        }

        #bottom-controll {
            // flex
            display: flex;

            #increment-input {
                // size
                width: 7rem;

                // border
                border: 0;
                border-radius: 0;
                border-bottom-left-radius: 1rem;

                // background
                background-color: transparent;
            }

            button {
                // border
                border-radius: 0;

                &:last-child {
                    // border
                    border-bottom-right-radius: 1rem;
                }
            }
        }
    }
}
