#space-images {
    // size
    width: 100%;
    height: 100%;

    // flex
    display: flex;
    flex-direction: column;

    #header {
        // flex
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        & > #title {
            // flex
            display: flex;
            flex-direction: row;
            align-items: flex-start;

            & > span {
                // margin
                margin-left: 0.5rem;
            }
        }
    }

    #body {
        // size
        flex: 1;

        // flex
        display: flex;
        flex-direction: column;

        // margin
        margin-top: 1rem;

        // make scroll
        max-height: 100%;
        overflow: scroll;

        & > #empty {
            // size
            flex: 1;

            // flex
            display: flex;
            justify-content: center;
            align-items: center;

            & > p {
                // text color
                color: $grey-1;
            }
        }

        .img-item {
            // flex
            display: flex;
            flex-direction: 'row';
            align-items: center;

            // padding
            padding: 0.4rem;

            // margin
            margin: 0 0 0.5rem 0;

            // border
            border-radius: 10px;

            // background
            background: $white;

            &.dragging {
                // shadow
                -webkit-box-shadow: 5px 5px 20px -10px rgba(0, 0, 0, 0.75);
                -moz-box-shadow: 5px 5px 20px -10px rgba(0, 0, 0, 0.75);
                box-shadow: 5px 5px 20px -10px rgba(0, 0, 0, 0.75);
            }

            & > img {
                // size
                width: 50%;
                height: 8rem;
            }

            & > p {
                // margin
                margin-left: 1rem;
            }

            & > .source-input {
                // flex
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                // margin
                margin-left: 1rem;

                & > p {
                    // margin
                    margin-bottom: 0.5rem;
                }
            }
        }
    }

    #footer {
        // flex
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

        // margin
        margin-top: 1rem;
        margin-bottom: 1rem;

        & > button {
            &:last-child {
                // margin
                margin-left: 1rem;
            }
        }
    }
}
