#space-description {
    & > #description {
        // text color
        color: $grey-1;

        // padding
        padding: 1rem;

        & > #description-text {
            // space between lines
            line-height: 2;

            // apply line breaks
            white-space: pre-wrap;
        }

        & > #no-intro {
            // align text
            text-align: center;

            // margin
            margin: 2rem;
        }

        & > #editor {
            & > #buttons {
                // flex
                display: flex;
                justify-content: flex-end;

                // margin
                margin-top: 1rem;

                & > :not(:first-child) {
                    // margin
                    margin-left: 0.5rem;
                }
            }
        }
    }
}
