#home-spaces-tab {
    // size
    flex: 1;

    // flex
    display: flex;
    flex-direction: column;
    align-items: stretch;

    // padding
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    // scrollable
    max-height: 100%;
    overflow: scroll;

    .space-group {
        // margin
        margin-left: 0.5rem;
        margin-right: 0.5rem;

        // border
        border-top: 2px solid $main-theme;
        border-bottom: 2px solid $main-theme;

        &:not(:first-child) {
            // margin
            margin-top: 1rem;
        }

        .space-item {
            // flex
            display: flex;
            align-items: flex-end;

            // padding
            padding: 0.5rem;

            &:hover {
                // background
                background-color: $grey-3;
            }

            &.selected {
                // selected effect
                background-color: $sub-theme;

                & > .space-item-body > p {
                    color: $white;
                }
            }

            & > img {
                // size
                height: 5rem;
                width: 5rem;
            }

            & > .space-item-body {
                // size
                flex: 1;

                // flex
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                // overflow
                overflow: hidden;

                &.depth-0 {
                    // margin
                    margin-left: 0.7rem;
                    margin-bottom: 0.5rem;
                }

                @for $depth from 1 through 4 {
                    &.depth-#{$depth} {
                        $margin-left: $depth * 1.5;
                        // margin
                        margin-left: $margin-left + 0rem;
                    }
                }

                & > p:last-child {
                    // margin
                    margin-top: 0.5rem;
                }
            }
        }
    }
}
