#home-spaces-tab {
    // size
    flex: 1;

    // flex
    display: flex;
    flex-direction: column;
    align-items: stretch;

    // padding
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    // scrollable
    max-height: 100%;
    overflow: scroll;

    .space-item {
        // flex
        display: flex;
        align-items: flex-end;

        // padding
        padding: 0.5rem;

        // margin
        margin: 0.5rem;

        // border
        border-radius: 0.5rem;

        &.selected {
            // selected effect
            background-color: $sub-theme;

            & > .space-item-body > p {
                color: $white;
            }
        }

        & > img {
            // size
            height: 5rem;
            width: 5rem;
        }

        & > .space-item-body {
            // size
            flex: 1;

            // flex
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            // overflow
            overflow: hidden;

            // margin
            margin-left: 0.7rem;
        }
    }
}
