#home-header {
    // fixed top
    position: absolute;
    top: 0;
    z-index: 10;

    // size
    height: $os-header-height;
    width: 100vw;

    // flex
    display: flex;
    padding-right: $os-horizontal-paading;
    padding-left: $os-horizontal-paading;

    // background
    background-color: $main-theme;

    // border
    border-bottom: 0.5px solid $grey-2;

    & > #main {
        // size
        flex: 1;

        // flex
        display: flex;
        align-items: center;

        & > img {
            height: $os-header-profile-image-size;
            width: $os-header-profile-image-size;
        }

        #profile-text {
            // flex
            display: flex;
            flex-direction: column;

            // margin
            margin-left: 1rem;

            p {
                // text color
                color: $white;

                // margin
                margin-bottom: 0;
            }
        }
    }

    & > #left-buttons {
        // flex
        display: flex;
        align-items: center;
    }
}
