#home-main-view {
    // size
    height: 100%;
    width: 100%;

    // flex
    display: flex;
    flex-direction: column;

    #left {
        // size
        flex: 1;

        // padding
        padding-right: 1rem;
        padding-left: 1rem;
    }

    #right {
        // size
        width: $os-main-view-left-width;

        // padding
        padding-right: 1rem;
        padding-left: 1rem;
    }

    & > #overview {
        // flex
        display: flex;

        // padding
        padding-top: 1rem;
        padding-bottom: 1rem;

        // background
        background-color: $grey-3;

        // border
        border-bottom: 0.5px solid $grey-2;

        & > #left {
            // border
            border-right: 1px solid $grey-1;
        }

        & > #right {
            // flex
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            & > :not(:first-child) {
                // margin
                margin-top: 1rem;
            }
        }
    }

    & > #body {
        // size
        flex: 1;
        width: 100%;

        // flex
        display: flex;

        & > * {
            // flex
            display: flex;
            flex-direction: column;

            // padding
            padding-top: 1rem;
            padding-bottom: 1rem;
        }

        & > #left {
            // scrollable
            max-height: 100%;
            overflow: scroll;

            & > :not(:first-child) {
                // margin
                margin-top: 2rem;
            }

            #header {
                // flex
                display: flex;
                justify-content: space-between;

                // margin
                margin-bottom: 0.5rem;

                p {
                    // margin
                    margin-bottom: 0;
                }
            }
        }

        & > #right {
            // border
            border-left: 0.5px solid $grey-2;
        }
    }
}
