#home-spaces-tab {
    // size
    flex: 1;

    // flex
    display: flex;
    flex-direction: column;
    align-items: stretch;

    // padding
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    // scrollable
    max-height: 100%;
    overflow: scroll;

    & > p {
        // margin
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;

        // padding
        padding-left: 0.5rem;
    }

    & > .space-group {
        // flex
        display: flex;
        flex-direction: column;

        // border
        border-top: 2px solid $main-theme;

        // padding
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;

        &:last-child {
            // border
            border-bottom: 2px solid $main-theme;
        }

        .space-item {
            // flex
            display: flex;
            align-items: stretch;

            // padding
            padding: 0.5rem;

            // margin
            margin-top: 0.3rem;
            margin-bottom: 0.3rem;

            // border
            border-radius: 0.5rem;

            &:hover {
                // background
                background-color: $grey-3;
            }

            @for $depth from 0 through 4 {
                &.depth-#{$depth} {
                    & > .bullet {
                        // size
                        $width: $depth * 1.5;
                        width: $width + 0rem;
                    }

                    & > .space-item-body {
                        @if $depth==0 {
                            // justify content
                            justify-content: flex-end;

                            // margin
                            margin-bottom: 0.5rem;
                        }
                    }
                }
            }

            &.selected {
                // selected effect
                background-color: $sub-theme;

                & > .space-item-body > p {
                    color: $white;
                }
            }

            & > img {
                // size
                height: 5rem;
                width: 5rem;
            }

            & > .space-item-body {
                // size
                flex: 1;

                // flex
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                // overflow
                overflow: hidden;

                // margin
                margin-left: 0.7rem;

                & > p:last-child {
                    // margin
                    margin-top: 0.5rem;
                }
            }
        }
    }
}
