#os-home-container {
    & > #body {
        // size
        height: 100vh;

        // padding
        padding-top: $os-header-height;

        & > #spaces-tab {
            // size
            width: 25%;
            height: 100%;

            // flex
            display: flex;
            flex-direction: column;

            // border
            border-right: 0.5px solid $grey-2;
        }

        & > #main-view {
            // size
            width: 75%;
            height: 100%;
        }
    }
}
