#os-home-container {
    & > #body {
        // size
        height: 100vh;

        // padding
        padding-top: $os-header-height;

        & > #spaces-tab {
            // size
            flex: 1;
            max-height: 100%;

            // flex
            display: flex;
            flex-direction: column;

            // border
            border-right: 1px solid $grey-1;
        }

        & > #main-view {
            // size
            flex: 3;

            // flex
            display: flex;
            flex-direction: column;
        }
    }
}
